/* clear */
* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

*:focus {
	outline:0 !important;
}

/* variables */
:root {
	--mainColor: #F1C25B;
	--secondColor: #4D8267;
	--fontColor: #55555b;
	--backgroundColor: #6C9584;
	--cactusGreen: #365904;
	--florarWhite: florarWhite;
}

*::selection {
	background-color: #3E6D3C;
}

/* fonts */
@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style : normal;
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: normal;
	src: local('Questrial'), url('../fonts/Questrial-Regular.woff') format('woff');
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

/* layout grid, global styles and inforced inheritance*/
* {
	font-family: inherit;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	font-family: Questrial, sans-serif;
}

@media screen and (min-width: 50em) {
	body {
		grid-template-columns: 1fr 20vw 20vw 20vw 20vw 1fr;
		grid-template-rows: minmax(auto, auto);
	}
}

/* header nav menu */
header {
	grid-row:1;
}

header nav {
	margin-top: 3em;
	margin-bottom: 2em;
}

header nav h1 {
	display: none;
}

ul, li, a {
	box-sizing: border-box;
}

header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	list-style: none;
}

header nav li {
	position: relative;
	margin-bottom: 1em;
	text-align: center;
	z-index: 1;
}

header nav li::before {
	content: "";
	width: 0.625em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,10,50,0.2);
	z-index: -1;
}

header nav li::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #ebebf0;
	z-index: -1;
}

header nav li:hover::before, header nav li:focus-within::before {
	transform: translate3D(0.625em, 0, 0); /* translateX */
}

header nav li:active::before {
	transform: translate3D(0, 0, 0);
}

/* li sizes one-column layout */
header nav li:first-of-type {
	flex-basis: 50vw;
}

header nav li:nth-of-type(2) {
	flex-basis: 65vw;
}

header nav li:nth-of-type(3) {
	flex-basis: 38vw;
}

header nav li:last-of-type {
	flex-basis: 47vw;
}

/* global a */
a {
	display: block;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:focus, a:hover {
	text-decoration: underline;
}

header nav a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 1.2em;
	padding: 1em 1.5em;
  background-color: #fbfbfb;
}

header nav a:focus, header nav a:hover {
	text-decoration: none;
}

header nav li:hover a, header nav li:focus-within a {
	transform: translate3D(0, -0.625em, 0);
	background-color: white;
}

header nav li:active a {
	-webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

header nav li:hover a, header nav li:focus-within a {
	background-color: #fbfbfb;
}

@media screen and (min-width: 50em) {
	header {
		grid-column: 2 / 6;
		grid-row: 1;
	}

	header nav ul {
		flex-wrap: nowrap;
		align-items: flex-start;
	}

	header nav li {
		flex-basis: 30vw !important;
	}

	header nav li:first-of-type, header nav li:nth-child(2), header nav li:nth-child(3) {
		margin-right: 1em;
	}

	/* header nav li:nth-of-type(2) ul {
		flex-direction: column;
		justify-content: flex-start;
	}

	header nav li:nth-of-type(2) ul li {
		flex-basis: 1.5em;
	} */
}

/* dropdown menu */
header nav a[href='blog.html']::after {
	position: relative;
	left: 4em;
	content: "\f078";
	font-family: FontAwesome;
	font-size: 0.5em;
}

header nav li:focus-within a[href='blog.html']::after {
	content: "\f077";
}

header nav li ul {
	display: none;
	margin-top: 1em;
}

header nav li:focus-within ul {
	display: block;
}

header nav li:focus-within ul a {
	background-color: rgb(235,235,240);
}

header nav li:focus-within ul li::before {
	background-color: rgb(235,235,240);
}

header nav li ul li:hover::after{
	transform: translate3D(0, 0, 0);
}

header nav li:focus-within ul li:focus-within::after {
	transform: translate3D(0, 0, 0) !important;
}

header nav li:focus-within ul li:focus-within a {
	font-weight: bold;
}


/* css mix-blend-mode */
main {
	grid-row: 2;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

section figure {
	overflow: hidden;
	background-image: url('../img/roberto-canedo-294128.jpg');
	background-position: center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
}

video {
	width: 90vw;
	margin-left: 5vw;
	height: auto;
	mix-blend-mode: hard-light;
}

@media screen and (min-width: 50em) {
	main {
		grid-column: 2 / 6;
		width: 100vw;
		margin-left: 0;
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		grid-template-rows: minmax(auto, auto);
	}

	section:first-of-type {
		grid-column: 1 / 4;
		grid-row: 1;
	}

	section figure {
		position: relative;
		right: 4.5em;
		width: 70vw;
	}

	video{
		width: 65vw; /*min-content */
		margin-left: 0;
	}
}

/* article */
article {
	grid-row:2;
	z-index: 10;
	margin-bottom: 5vh;
}

article h1 {
	font-size: 2em;
	font-family: Ampersand, Questrial;
	font-weight: bold;
	color: var(--mainColor);
	margin-bottom: 1em;
}

article p {
	font-size: 1em;
	line-height: 1.5em;
	color: var(--fontColor);
}

article figure img {
	width: 80vw;
	height: auto;
	margin: 2em 0;
}

article footer {
	font-size: 1em;
	color: var(--mainColor);
	margin-top: 1em;
}

article footer a::before {
	content:" - ";
	background-color: white;
	color: var(--mainColor);
}

article footer a {
	display: inline-block;
	font-size: 1em;
	background-color: var(--mainColor);
	color: white;
	text-decoration: none;
}

article footer a:focus {
	animation: shake 1s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 50em) {
	article {
		grid-column: 3 / 5;
	  grid-row: 1;
		width: auto;
		margin-left: 0;
	}

	article figure img {
		width: 30vw;
		height: auto;
		margin: 0;
	}
}

/* blog page */
section article {
	width: 90%;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.025);
}

section article h1 a {
	display: block;
	color: black;
	line-height: 150%;
}

/* progress bar */
progress {
  width: 80%;
	height: 0.5em;
	margin-top: 5%;
	margin-bottom: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5em;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
	border-radius: 2em;
	box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
	background-color: var(--mainColor);
	border-radius: 2em;
}

ol {
	list-style: none;
	margin-bottom: 5%;

}

progress + ol {
	display: flex;
	flex-direction: row;
	width: 100%;
}

progress + ol li {
	flex-basis: 25%;
  position: relative;
	color: white;
}

progress + ol li:first-of-type a {
	color: var(--mainColor);
}

progress + ol li a{
	color: white;
}

progress + ol li:before {
	position: absolute;
  z-index: 1;
  font-family: Fontawesome;
  font-size: 0.8em;
  content: 'ïº';
  color: black;
	bottom: 2.8em;
	left: 0.75em;
}

progress + ol li:after {
  content: '';
	position: absolute;
	bottom: 1.6em;
	left: 0%;
  width: 2em;
  height: 2em;
  background: white;
  border-radius: 100%;
}

progress + ol li:first-of-type::after {
  background: var(--mainColor);
}

/* chat */
section:nth-of-type(4){
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.5em;
}

article nav {
	background-color: var(--secondColor);
	width: 94%;
	padding: 3%;
}

article nav h1 {
	color: white;
}

section + section > nav ol {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 90%;
}

section + section > nav ol li {
	flex-basis: 25%;
	text-align: center;
	color: white;
}

section + section > nav ol li a {
	color: white;
}

section article img {
	width: 100%;
}

section article img + p {
	margin-top: 5%;
}

@media screen and (min-width: 50em) {
	section article {
		width: 85%;
	}
}

/* chat */
section > ol {
	box-sizing: border-box;
	list-style: none;
	padding: 10%;
}

ol + form {
	padding: 10%;
}

section > ol li {
	border-radius: 1.1em;
	margin-bottom: 5%;
}

section > ol li > p {
	padding: 10%;
	background-color: white;
	order: 1;
	border-top-left-radius: 0;
	box-shadow: 0.0625em 0.125em 0 #D4D4D4;
}

section > ol li > p {
  display:block;
  border-radius: 0.375em;
  position: relative;
}

section > ol li:nth-child(odd) > p::after {
  content: "";
  position:absolute;
  margin-top:-0.375em;
  margin-left:-0.3125em;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  border-bottom: 0.75em solid white;
  transform:rotate(-45deg);
  right: -0.9375em;
  top: 0.625em;
}

section > ol footer {
	margin-top: 10%;
	font-style: italic;
	font-size: 0.8em;
	text-align: right;
}

section > ol li:nth-child(even) footer {
	text-align: left;
}

textarea {
	margin: 5% 0;
	padding: 10%;
	width: 80%;
	height: 2.5em;
	border: none;
	border-radius: 0.375em;
	box-shadow: 0.0625em 0.125em 0 #D4D4D4;
	cursor: text;
}

textarea:focus {
	background-color: white;
	transform: scale(1.01, 1.01);
	animation: borderColor 1s infinite;
	border: 0.0625em solid black;
	/* transform: scale(1.01, 1.01);
	transition: box-shadow 2s ease-in; */
}

/* textarea:focus {
	padding: 3%;
	font-size: 1.5em;
	position: fixed;
	width: 50vw;
	height: 20vw;
	top: 15%; left: 12vw;
	margin: 5em;
	z-index: 5;
	box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
} */

button {
	cursor: pointer;
	position: relative;
}

button::before {
	content: '';
	position: absolute;
	top: 0.625em;
	right: 0.625em;
	bottom: 0.625em;
	left: 0.625em;
}

button[type='submit'] {
	display: block;
	width: 100%;
	height: 3em;
	border: none;
	margin-top: 10%;
	color: white;
	background-color: rgba(0,0,0,0.8);
}

button[type='submit']:focus {
	background-color: var(--mainColor);
}

/* two column layout  */
@media screen and (min-width: 50em) {
	.two-column-layout + body main section:first-of-type {
		grid-column: 1 / 4;
	}

	.two-column-layout + body main section:nth-of-type(2) {
		grid-column: 1 / 4;
		grid-row: 2;
	}

	.two-column-layout + body main section:nth-of-type(3) {
		grid-column: 1 / 4;
		grid-row: 3;
	}

	.two-column-layout + body main section:nth-of-type(4) {
		grid-column: 4 / 5;
		grid-row: 1 / 2;
		background-image: url('../img/skyscraper.png');

	}
}

/* one column layout */
@media screen and (min-width: 50em) {
	.one-column-layout + body main section {
		grid-column: 1 / 5;
	}
}

/* rating page */
fieldset {
	border: none;
	background-color: #fbfbfb;
	width: 100%;
}

fieldset legend {
	width: 100%;
	text-align: center;
	font-size: 2em;
}

fieldset label, fieldset input {
	display: inline;
}

fieldset input {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

fieldset input:focus + label svg, fieldset input:hover + label svg {
	animation: shake 1s infinite;
}

label:last-of-type svg g > g:nth-of-type(3) path {
	/* transition: transform .1s ease-in; */
}

input:nth-of-type(1):focus + label svg g > g:nth-of-type(3) path, input:nth-of-type(1):hover + label svg g > g:nth-of-type(3) path {
	transform: scaleY(0.5);
	transform-origin: left 25em;
}

input:nth-of-type(2):focus + label svg g > g:nth-of-type(3) path, input:nth-of-type(2):hover + label svg g > g:nth-of-type(3) path {
	transform: scaleY(0.8);
	transform-origin: left 25em;
}

label svg g > g:nth-of-type(2), input:nth-of-type(3):hover + label svg g > g:nth-of-type(2) {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 1s;
}

input:nth-of-type(3):focus + label svg g > g:nth-of-type(2), input:nth-of-type(3):hover + label svg g > g:nth-of-type(2) {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 1s;
}

input:last-of-type:focus + label svg g > g:nth-of-type(3) path, input:last-of-type:hover + label svg g > g:nth-of-type(3) path {
	transform: scaleY(1.4);
	transform-origin: left 25em;
}

fieldset input:focus + label {
	border-bottom: none !important;
}

fieldset label {
	position: relative;
	color: transparent;
}

svg {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	width: 50%;
}

label:first-of-type svg {
	margin-left: 15%;
}

label:nth-of-type(1) svg g > g:nth-of-type(3) > g:first-of-type path {
	fill: black;
}

label:nth-of-type(2) svg g > g:nth-of-type(3) > g:first-of-type path {
	fill: saddlebrown;
}

label:nth-of-type(3) svg g > g:nth-of-type(3) > g:first-of-type path {
	fill: khaki;
}

label:nth-of-type(3) svg g > g:nth-of-type(3) > g:last-of-type path, label:nth-of-type(2) svg g > g:nth-of-type(3) > g:last-of-type path {
	fill: black;
}

@media screen and (min-width: 50em) {
	svg {
		margin-left:5%;
    width: 10%;
	}

	label:first-of-type svg {
		margin-left: 10%;
	}
}

/* login page */
section > section {
	padding: 5%;
	background-color: #fbfbfb;
}

section > section h2 {
	margin-bottom: 10%;
}

label {
	margin-bottom: 2%;
	display: block;
}

input {
	display: block;
	width:80%;
  padding:.25em;
  margin-bottom: 2em;
	font-size: 1.25em;
  transition:all .2s;
	border: none;
	border-bottom: 0.125em solid black;
}

input:valid {
  border-color: #00ff00;
	background-color:#fbfbfb;
}

input:invalid {
  border-color: red;
  background-color:#fbfbfb;
}

input:focus {
	animation: borderColorBottom 1s infinite;
}

form label:last-of-type {
	display: inline;
	width: auto;
}

input:last-of-type:focus + label {
	font-weight: bold;
	border-bottom: 0.0625em solid black;
}

input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
	content: '\a0';
	display: inline-block;
	vertical-align: .2em;
	width: .8em;
	height: .8em;
	margin-right: 2%;
	border: 0.0625em solid black;
	background: white;
	text-indent: .15em;
	line-height: .65;
}

input[type="checkbox"]:checked + label::before {
	content: '\2713';
	background: #fbfbfb;
}


label + a {
	display: inline;
	width: 40%;
	float: right;
	text-align: right;
}

label + a:focus {
	font-weight: bold;
}

a + button {
	display: block;
	width: 100%;
	height: 3em;
	border: none;
	margin-top: 10%;
	color: white;
	background-color: rgba(0,0,0,0.8);
}

a + button:focus {
	animation: borderColor 1s infinite;
	color: black;
	background-color: #fbfbfb !important;
}

@media screen and (min-width: 50em) {
	section > section {
		width: 50%;
		margin-left: 20%;
	}
}



/* keyframes */
@keyframes shake {
    0% { transform: translate(0.0625em, 0.0625em) rotate(0deg); }
    10% { transform: translate(-0.0625em, -0.125em) rotate(-1deg); }
    20% { transform: translate(-0.1875em, 0) rotate(1deg); }
    30% { transform: translate(0.1875em, 0.125em) rotate(0deg); }
    40% { transform: translate(0.0625em, -0.0625em) rotate(1deg); }
    50% { transform: translate(-0.0625em, 0.125em) rotate(-1deg); }
    60% { transform: translate(-0.1875em, 0.0625em) rotate(0deg); }
    70% { transform: translate(0.1875em, 0.0625em) rotate(-1deg); }
    80% { transform: translate(-0.0625em, -0.0625em) rotate(1deg); }
    90% { transform: translate(0.0625em, 0.125em) rotate(0deg); }
    100% { transform: translate(0.0625em, -0.125em) rotate(-1deg); }
}

@keyframes borderColor {
  0% {
    border: 0.125em solid red;
  }
  25% {
    border: 0.125em solid blue;
  }
	50% {
		border: 0.125em solid yellow;
	}
	75% {
		border: 0.125em solid green;
	}
  100% {
    border: 0.125em solid purple;
  }
}

@keyframes borderColorBottom {
  0% {
    border-bottom: 0.125em solid red;
  }
  25% {
    border-bottom: 0.125em solid blue;
  }
	50% {
		border-bottom: 0.125em solid yellow;
	}
	75% {
		border-bottom: 0.125em solid green;
	}
  100% {
    border-bottom: 0.125em solid purple;
  }
}
