/* clear */
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

*:focus {
	outline:0 !important;
}

/* fonts */
@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
	     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

@font-face {
font-family: 'Questrial';
font-style: normal;
font-weight: normal;
src: local('Questrial'), url('../fonts/Questrial-Regular.woff') format('woff');
}

/* layout grid */
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr;
}

@media screen and (min-width: 50em) {
	body {
		grid-template-columns: 1fr 20vw 20vw 20vw 20vw 1fr;
		grid-template-rows: minmax(auto, auto);
	}
}

/* header nav menu */
header {
	grid-area: header;
	grid-row:1;
}

header nav {
	margin-top: 1em;
	margin-bottom: 2em;
}

header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

header nav li {
	flex-basis: 40vw;
	padding: 2vw;
	margin-bottom: 1em;
	text-align: center;
	border: 1vw solid black;
}

header nav li:first-of-type {
	flex-basis: 50vw;
}

header nav li:nth-of-type(2) {
	flex-basis: 45vw;
}

header nav a[href='ideas.html']:after {
	content: "\f078";
	font-family: FontAwesome;
	margin-left: 1em;
}

header nav li:nth-of-type(3) {
	flex-basis: 35vw;
}

header nav li:last-of-type {
	flex-basis: 45vw;
}

header nav a {
	font-family: monospace;
	font-size: 1.2em;
	text-decoration: none;
	color: black;
}

header nav li ul {
	display: none;
	margin-top: 1em;
}

header nav li ul li {
	background-color: #F1C25B;
}

header nav li:nth-of-type(2):focus-within ul {
	display: block;
}

@media screen and (min-width: 50em) {
	header {
		grid-column: 2 / 6;
		grid-row: 1;
	}

	header nav ul {
		flex-wrap: nowrap;
		align-items: flex-start;
	}

	header nav li {
		flex-basis: 15vw;
		padding: 1vw;
		margin-left: 1em;
		border: 0.5vw solid black;
	}

	header nav li:nth-of-type(1n+1) {
		margin-right: 1em;
	}

	header nav li:first-child {
		margin-top: 1em;
	}

	header nav li:nth-of-type(2) ul {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
	}

	header nav li:nth-of-type(2) ul li {
		flex-basis: 1.5em;
	}

	header nav li:nth-child(3) {
		margin-top: 1em;
	}

	header nav li:nth-child(4) {
		margin-top: 2.5em;
	}
}

header nav li:focus-within {
	animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

/* css mix-blend-mode */
section {
	grid-area: section;
	grid-row:2;
}

section figure {
	overflow: hidden;
	background-image: url('../img/roberto-canedo-294128.jpg');
	background-position: center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
}

video {
	width: 90vw;
	margin-left: 5vw;
	height: auto;
	mix-blend-mode: hard-light;
}

@media screen and (min-width: 50em) {
	section {
		grid-column: 2 / 6;
		grid-row: 2;
	}

	section figure {
		position: relative;
		bottom:5.5em;
		right: 4.5em;
		width: 70vw;
	}

	video{
		width: 65vw;
		margin-left: 0;
	}
}

/* article */
article {
	grid-area: article;
	grid-row:3;
	z-index: 10;
}

article h1 {
	font-size: 2em;
	font-family: Questrial;
	font-weight: bold;
	color: #F1C25B;
	margin-bottom: 1em;
}

article p {
	font-family: Questrial;
	font-size: 1em;
	line-height: 1.5em;
	color: darkgrey;
}

@media screen and (min-width: 50em) {
	article {
		grid-column: 4 / 6;
	  grid-row: 2;
	}
}

article figure img {
	width: 30vw;
	height: auto;
}
